<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script defer src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <nav>
      <a href="/">🏠</a> |
      <a href="{% url 'posts:list' %}">🚩</a> |
      <a href="{% url 'users:register' %}">👤</a> |
      <a href="{% url 'users:login' %}">🔐</a> {% if user.is_authenticated %}
        |<form class="logout" action="{% url 'users:logout' %}" method="post">
          {% csrf_token %}
          <button class="logout-button" aria-label="User Logout" title="User Logout">👋</button>
        </form>
      {% endif %}
    </nav>
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
