{% extends 'layout.html' %}

{% block title %}
  Posts List
{% endblock %}

{% block content %}
  <div style="display: flex; justify-content: space-between;">
    <section>
      <h1>Posts List</h1>

      {% for post in posts %}
        <article class="post">
          <h2><a href="{% url 'posts:page' slug=post.slug %}">{{ post.title }}</a></h2>
          <p>{{ post.date }} by {{ post.author }}</p>
          <p>{{ post.body }}</p>
        </article>
      {% endfor %}
    </section>
    <a href="{% url 'posts:new-post' %}">Add Post🆕</a>
  </div>
{% endblock %}
